@{
    ViewData["Title"] = "Strona startowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Zobacz <a href="https://youtu.be/dQw4w9WgXcQ?si=GjVN5dy5wNpx_F-K">Link</a></p>
</div>
